---

- name: install or update KDE
  package:
    name: "{{ item }}"
    state: latest
  with_items:
    - "{{ package_kde }}"
    - kdm
    - switchdesk
    - system-switch-displaymanager
  tags:
    - packages
    - online

- name: create subdirectories for KDE configurations
  file:
    dest: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0750
  with_items:
    - /home/{{ username }}/.kde/share/config
    - /home/{{ username }}/.local/share/konsole
  tags:
    - directories

- name: configure KDE by modifying kdeglobals
  ini_file:
    path: /home/{{ username }}/.kde/share/config/kdeglobals
    section: "{{ item.0.section }}"
    option: "{{ item.1.key }}"
    value: "{{ item.1.value }}"
    backup: yes
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0640
  with_subelements:
    - "{{ kdeglobals }}"
    - options
  tags:
    - configs

- name: include custom desktop shortcuts
  ini_file:
    path: /home/{{ username }}/.config/kglobalshortcutsrc
    section: "{{ item.0.section }}"
    option: "{{ item.1.key }}"
    value: "{{ item.1.value }}"
    backup: yes
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0640
  with_subelements:
    - "{{ kksrc }}"
    - options
  tags:
    - configs

- name: include profile for konsole
  ini_file:
    path: /home/{{ username }}/.local/share/konsole/custom.profile
    section: "{{ item.0.section }}"
    option: "{{ item.1.key }}"
    value: "{{ item.1.value }}"
    backup: yes
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0640
  with_subelements:
    - "{{ konsole.profile }}"
    - options
  tags:
    - configs

- name: include configurations for konsole
  ini_file:
    path: /home/{{ username }}/.config/konsolerc
    section: "{{ item.0.section }}"
    option: "{{ item.1.key }}"
    value: "{{ item.1.value }}"
    backup: yes
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0640
  with_subelements:
    - "{{ konsole.rc }}"
    - options
  tags:
    - configs

- name: modify input device behavior
  ini_file:
    path: /home/{{ username }}/.config/kcminputrc
    section: "{{ item.0.section }}"
    option: "{{ item.1.key }}"
    value: "{{ item.1.value }}"
    backup: yes
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0640
  with_subelements:
    - "{{ kcminput }}"
    - options
  tags:
    - configs

- name: modify touchpad behavior
  ini_file:
    path: /home/{{ username }}/.config/touchpad
    section: "{{ item.0.section }}"
    option: "{{ item.1.key }}"
    value: "{{ item.1.value }}"
    backup: yes
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0640
  with_subelements:
    - "{{ touchpad }}"
    - options
  tags:
    - configs

- name: switch from Gnome to KDE
  shell: switchdesk kde && system-switch-displaymanager kdm
  notify:
    - restart KDE
